trunk/MMProgWP7/WPClient/Service References/MMProgService/MMProgService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20000/MMProgService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMProgServiceLib" />
  <xs:element name="SendMessageToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMProgServiceLib" minOccurs="0" name="message" nillable="true" type="q1:MyMessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>