trunk/MMProgWP7/WPClient/Service References/MMProgService/MMProgService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMProgServiceLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMProgServiceLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MyMessageDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rotation" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyMessageDTO" nillable="true" type="tns:MyMessageDTO" />
</xs:schema>