trunk/MMProgWP7/WPClient/Service References/MMProgService/MMProgService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20000/MMProgService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MMProgServiceLib" />
  <xs:import schemaLocation="http://localhost:20000/MMProgService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="SendMessageToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MMProgServiceLib" minOccurs="0" name="message" nillable="true" type="q1:MyMessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="lastGuid" nillable="true" type="q2:guid" />
        <xs:element minOccurs="0" name="maxnum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MMProgServiceLib" minOccurs="0" name="GetNewMessagesResult" nillable="true" type="q3:ArrayOfMyMessageDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>